In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('Glassdoor_jobs.csv')
data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location
0,0,DATA SCIENTIST-HEALTHCARE,-1,The Data Scientist has a deep understanding of...,3.7,Premier Health,"Dayton, OH"
1,1,Staff Data Scientist,-1,WHO WE ARE:\nVoted one of the Top 100 Fastest ...,3.5,Freedom Financial Network,"Tempe, AZ"
2,2,R&D Scientist,$62K - $73K (Glassdoor est.),"LGC, Biosearch Technologies is seeking a detai...",3.5,LGC Limited,"Middleton, WI"
3,3,Business Intelligence Data Analyst,$64K - $77K (Glassdoor est.),Business Intelligence Data Analyst\nLocation: ...,3.9,BANKSOUTH,"Greensboro, GA"
4,4,Data Scientist,$120K - $121K (Glassdoor est.),Who Are We?\nQinetiQ Inc. is a leading innovat...,2.5,QinetiQ Inc.,"Lorton, VA"
5,5,-1,$35K - $62K (Glassdoor est.),-1,-1.0,-1,-1
6,6,-1,$139K - $193K (Glassdoor est.),-1,-1.0,-1,-1
7,7,Workforce Data Analyst,$38K - $65K (Glassdoor est.),Overview:\nHeritage Christian Services is seek...,3.5,Heritage Christian Services,"Rochester, NY"
8,8,Research Scientist I - Essentia,-1,"New product development of broths, stocks, fla...",2.8,The Lauridsen Group,"Ankeny, IA"
9,9,Associate Scientist,$35K - $72K (Glassdoor est.),"Sanvita Medical, an exciting new medical devic...",3.6,Nova Biomedical,"Billerica, MA"
10,10,Staff Data Scientist,$114K - $144K (Glassdoor est.),Alteryx is searching for a Staff Data Scientis...,3.5,"Alteryx, Inc.","Boston, MA"
11,11,Data Scientist,-1,Job Posting End Date: April 20\nUnum is a comp...,3.8,Unum,"Portland, ME"
12,12,Data Scientist,-1,Job Posting End Date: April 20\nUnum is a comp...,3.8,Unum,"Portland, ME"
13,13,Senior R&D Scientist,$98K - $121K (Glassdoor est.),"LGC, Biosearch Technologies is looking for a h...",3.5,LGC Limited,"Middleton, WI"
14,14,-1,-1,-1,-1.0,-1,-1