In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Glassdoor_jobs.csv')
data

data['Per Hour'] = data['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
data['Employee Provided'] = data['Salary Estimate'].apply(lambda x: 1 if 'employee provided salary' in x.lower() else 0)

# Data cleaning 
1. Remove Employer Provided Salary
2. In job description, just add the requrements like (Python & so on)
3. Remove null values

In [3]:
data = data[data['Salary Estimate'] != '-1']
salary = data['Salary Estimate'].apply(lambda x: x.split(':')[1])
salary = salary.apply(lambda x: x.replace('Per Hour','').replace('$','').replace('K',''))
salary

3      67 - 82
4           17
6      58 - 63
8      48 - 77
9     250 - 450
11     38 - 43
12    112 - 207
13     79 - 120
Name: Salary Estimate, dtype: object

In [4]:
data['Min Salary'] = salary.apply(lambda x : int(x.split('-')[0]))
data['Max Salary'] = salary.apply(lambda x : int(x.split('-')[0]))
data['Average Salary'] = (data['Min Salary']+ data['Max Salary'])/2
data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Per Hour,Employee Provided,Min Salary,Max Salary,Average Salary
3,Data Scientist,Employer Provided Salary:$67 - $82 Per Hour,HI Professional\nHope you are doing good\nWe h...,4.4,ids,Remote,1,0,67,67,67.0
4,Data Science Intern,Employer Provided Salary:$17 Per Hour,Remote Summer Intern\nOnline education is no l...,4.7,Noodle,Remote,1,0,17,17,17.0
6,Sr. Data Scientist,Employer Provided Salary:$58 - $63 Per Hour,Knowledge and experience in building and analy...,4.1,Pricesenz,Remote,1,0,58,58,58.0
8,-1,Employer Provided Salary:$48 - $77 Per Hour,-1,-1.0,-1,-1,1,0,48,48,48.0
9,Data Scientist,Employer Provided Salary:$250K - $450K,"Our Mission\nWe’re here to create a safer, hap...",4.7,Blue Owl,"San Francisco, CA",0,0,250,250,250.0
11,Data Scientist,Employer Provided Salary:$38 - $43 Per Hour,Title : Data Scientist\nJob Type : Long-term C...,3.0,EGRS,"Cincinnati, OH",1,0,38,38,38.0
12,Sr. Data Scientist with Python and Machining L...,Employer Provided Salary:$112K - $207K,Need Senior Data Scientist with Python and Mac...,3.7,Simplex Info,Remote,0,0,112,112,112.0
13,Data Scientist - HEDIS - REMOTE,Employer Provided Salary:$79K - $120K,Join our team as a Data Scientist -HEDIS!\nFro...,3.7,Presbyterian Healthcare Services,United States,0,0,79,79,79.0

In [5]:
data['Python'] = data['Job Description'].apply(lambda x: 1 if 'Python' in x else 0 )
data.Python.value_counts()

0    6
1    2
Name: Python, dtype: int64

In [6]:
data['R_studio'] = data['Job Description'].apply(lambda x: 1 if 'r-studio' or 'r studio' in x.lower() else 0 )
data.R_studio.value_counts()

1    8
Name: R_studio, dtype: int64

In [7]:
data['Spark'] = data['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0 )
data.Spark.value_counts()

0    8
Name: Spark, dtype: int64

In [8]:
data['Excel'] = data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0 )
data.Excel.value_counts()

0    8
Name: Excel, dtype: int64

In [9]:
data['AWS'] = data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0 )
data.AWS.value_counts()

0    8
Name: AWS, dtype: int64

In [10]:
data['SQL'] = data['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0 )
data.SQL.value_counts()

0    8
Name: SQL, dtype: int64