In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Cleaned_Data.csv')
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Per Hour,Employee Provided,Min Salary,Max Salary,Average Salary,Python,R_studio,Spark,Excel,AWS,SQL
0,DATA SCIENTIST-HEALTHCARE,$56K - $96K (Glassdoor est.),The Data Scientist has a deep understanding of...,3.7,Premier Health,"Dayton, OH",0,0,56,56,56.0,0,1,0,0,0,0
1,Principal Data Scientist,$139K - $214K (Glassdoor est.),"Working out of our Chevy Chase, MD/Washington ...",3.5,GEICO,"Chevy Chase, MD",0,0,139,139,139.0,0,1,0,0,0,0
2,Senior Scientist,$68K - $97K (Glassdoor est.),Position Summary:\nThe Senior Scientist is a m...,3.5,LGC Limited,"Alexandria, MN",0,0,68,68,68.0,0,1,0,0,0,0
3,Staff Data Scientist,$114K - $144K (Glassdoor est.),Alteryx is searching for a Staff Data Scientis...,3.5,"Alteryx, Inc.","Boston, MA",0,0,114,114,114.0,0,1,0,0,0,0
4,Data Scientist,$120K - $121K (Glassdoor est.),Who Are We?\nQinetiQ Inc. is a leading innovat...,2.5,QinetiQ Inc.,"Lorton, VA",0,0,120,120,120.0,0,1,0,0,0,0

In [3]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Per Hour', 'Employee Provided',
       'Min Salary', 'Max Salary', 'Average Salary', 'Python', 'R_studio',
       'Spark', 'Excel', 'AWS', 'SQL'],
      dtype='object')

In [4]:
def title_simplifier(title):
    if 'data scientist' in title.lower() or 'scientist' in title.lower():
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'analyst' in title.lower():
        return 'Analyst'
    elif 'machine learning' in title.lower():
        return 'Machine Learning'
    elif 'director' in title.lower():
        return 'Director'
    elif 'manager' in title.lower():
        return 'Manager'
    else:
        return 'n/a'

In [5]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'principal' in title.lower() or 'lead' in title.lower():
        return 'Senior'
    elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'Junior'
    else:
        return 'n/a'

In [6]:
data['Title'] = data['Job Title'].apply(title_simplifier)
data['Seniority'] = data['Job Title'].apply(seniority)
data['Seniority'].value_counts()

n/a       18
Senior     4
Name: Seniority, dtype: int64

In [7]:
data['desc_len'] = data['Job Description'].apply(lambda x: len(x))
data['min_salary'] = data['Min Salary']
data['max_salary'] = data['Max Salary']

data['min_salary']
data['hourly'] = data['Per Hour']

In [8]:
data['min_salary'] = data.apply(lambda x: x.min_salary*2 if x.hourly == 1 else x.min_salary, axis=1)
data['max_salary'] = data.apply(lambda x: x.max_salary*2 if x.hourly == 1 else x.max_salary, axis=1)

data['min_salary']

AttributeError: 'Series' object has no attribute 'max_salary'

In [ ]:
data[data.hourly==1][['hourly', 'min_salary', 'max_salary']]